*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f5f6f7;
  --color-text: #9c9c9c;
  --color-orange: #ff6a00;
  --color-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #dfe4ea;
  --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.8),
    inset 2px 2px 6px rgba(0, 0, 0, 0.1);
  --color-equal-shadow: -2px -2px 6px rgb(3, 169, 244, 0.01),
    2px 2px 6px rgba(0, 0, 0, 0.3);
  --color-equal-inset-shadow: inset -2px -2px 6px rgba(255, 106, 0, 0.5),
    inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}
